{% extends 'layouts.html' %}
{% block main %}


<h1 class="color-primary" style="text-align: center"> welcome to MyDevtools</h1>
<hr>
<div class="row">
<div class="col-sm">

        <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top" src="/static/doc2pdf.png" alt="Card image cap">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              
                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3" href="/doc2pdf/"><i class="fas fa-chevron-right pl-1"></i></a>
              
                <!-- Card content -->
                <div class="card-body">
              
                  <!-- Title -->
                  <h4 class="card-title">Word To Pdf </h4>
                  <hr>
                  <!-- Text -->
                  <p class="card-text">Esay Convert Word With hight perfermonce </p>
              
                </div>
              </div>
              <!-- Card -->

</div>

<div class="col-sm">
<br>
        <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                  <img class="card-img-top" src="/static/sketchcode.png" alt="Card image cap">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              
                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3" href="/sketchcode/"><i class="fas fa-chevron-right pl-1"></i></a>
              
                <!-- Card content -->
                <div class="card-body">
              
                  <!-- Title -->
                  <h4 class="card-title">Sketch to html</h4>
                  <hr>
                  <!-- Text -->
                  <p class="card-text"> No coding html more, just drawing and convert it to code.</p>
              
                </div>
              
              </div>
             <!-- Card -->


</div>


</div>
<br>


{% endblock main %}
