{% extends 'layouts.html' %}
{% block main %}

How to convert Word to PDF ??
<hr>
<p>
To convert your Word document to PDF format, first you need to add the files of supported formats (DOC, DOCX or ODT) for conversion – 
drag and drop them or click the "Add file" button. The conversion process will begin automatically. 
When it's complete, click "Download PDF" button to save your new document.
</p>
How to convert sketch IMAGE ??
<hr>
<p>

        Generating HTML Code from a hand-drawn wireframe

        <img class="card-img-top" src="/static/sketchcode.png" alt="Card image cap">
        SketchCode is a deep learning model that takes hand-drawn web mockups and converts them into working HTML code. It uses an image captioning architecture to generate its HTML markup from hand-drawn website wireframes.
        
        For more information, check out this post: Automating front-end development with deep learning
        
        This project builds on the synthetically generated dataset and model architecture from pix2code by Tony Beltramelli and the Design Mockups project from Emil Wallner.
        
       <p class="note note-danger"> 
           
        Note: This project is meant as a proof-of-concept; the model isn't (yet) built to generalize to the variability of sketches seen in actual wireframes, and thus its performance relies on wireframes resembling the core dataset.
        
        </p>
</p>
{% endblock main %}